.aboutUsOverlay
{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--background-color2);
    font-weight: 700;
    color: var(--text-color);
}
.aboutUsOverlay .closeAboutIcon
{
   font-size: 5rem;
   border-radius: 50%;
   color: var(--text-color);
   background-color: var(--secondary);
   border: 1px solid var(--primary);
   margin: 2rem;
   transition: 0.3s all ease;
}
.aboutUsOverlay .closeAboutIcon:hover
{
    background-color: var(--close-red);
    color: var(--primary);
}
.aboutUsMain
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 1rem;
}
.aboutNav a
{
    font-size: x-large;
    color: var(--text-color);
}
.aboutNav a:hover
{
    color: var(--text-color);
}