.filterButtonContainer
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: none;
    padding: 0.25rem 1rem;
    border-bottom: 1px solid var(--primary);
}
.filterButtonContainer div 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filterButtonContainer div:first-child
{
    color: var(--primary);
}
@media screen and (max-width: 320px) {

}