.taskAddForm
{
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #05161a76;
    z-index: 10000;
}
.formContainer 
{
    margin: 0 auto;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #05969c;
    border-radius: 5rem;
    border: 2px solid black;
}
.closeBtn
{
    position: relative;
    left: 35%;
}
.formContainer div
{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.formContainer input[type="text"]
{
    padding: 0.5rem;
    font-size: large;
    font-weight: 500;
    border: 2px solid #05161c;
    background-color: #05161aa5;
    border-radius: 1rem;
    color: white;
}
.formContainer input[type="text"]:focus
{
    outline: 2px solid #8cd6fb;
    outline-offset: 0px;
    color: #8cd6fb
}
label
{
    margin: 0.5rem;
    font-size: larger;
    font-weight: 900;
    color: #8cd6fb;
}


@media screen and (max-width: 880px)
{
    .formContainer
    {
        width: 80%;
        border-radius: 2rem;
    }
    input
    {
        width: 50vw;
    }
}
@media screen and (max-width: 460px)
{
    .formContainer
    {
        width: 95%;
    }
    input
    {
        width: 80vw;
    }
}