.taskAddForm
{
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: var(--background-color2);
    z-index: 10000;
}
.formContainer 
{
    margin: 0 auto;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border-radius: 5rem;
    border: 2px solid black;
}
.closeBtn
{
    position: relative;
    left: 35%;
    font-weight: 900;
    color: var(--close-red);
}
.formContainer div
{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.formContainer input[type="text"]
{
    padding: 0.5rem;
    font-size: large;
    font-weight: 500;
    border: 2px solid var(--secondary);
    background-color: var(--background-color);
    border-radius: 1rem;
    color: var(--text-color);
}
.formContainer input[type="text"]:focus
{
    outline: 2px solid var(--primary);
    background-color: var(--secondary);
    outline-offset: 0px;
    color: var(--primary)
}
.submitBtn{
    color: var(--background-color);
    font-weight: 900;
}
label
{
    margin: 0.5rem;
    font-size: larger;
    font-weight: 900;
    color: var(--background-color);
}


@media screen and (max-width: 880px)
{
    .formContainer
    {
        width: 80%;
        border-radius: 2rem;
    }
    input
    {
        width: 50vw;
    }
}
@media screen and (max-width: 460px)
{
    .formContainer
    {
        width: 95%;
    }
    input
    {
        width: 80vw;
    }
}