.taskActionsContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    color: var(--text-color);
}
.actionContainer{
    margin: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}
.editAction:hover
{
    color: var(--primary);
}
.deleteAction:hover
{
    color: var(--close-red);
}
.markAction:hover
{
    color: var(--success);
}
.markAction.pendingMarkAction:hover
{
    color: var(--pending);
}

.pending
{
    background-color: var(--pending);
}

.completed
{
    background-color: var(--success);
}

.taskActionsContainer.deleted
{
    background-color: var(--close-red);
    position: fixed;
    left: -100%;
}

@media screen and (max-width: 650px)
{
    .actionContainer
    {
        margin: 0.75rem;
    }
}
@media screen and (max-width: 450px)
{
    .actionContainer
    {
        margin: 0.5rem;
        font-size: xx-small;
        font-weight: 600;
    }
    .taskActionsContainer
    {
        padding: 0 0.5rem;
    }
}