.tasksContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #294D62;
}

.emptyTasksMessageContainer
{

    height: 67vh;
    width: 100vw;
    padding-top: 5rem;
    background-color: #294D62;
    color: rgb(255, 201, 201);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    text-align: center;
    justify-content: flex-start;
}