.taskTextContainer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    border-radius: 1rem;
    background-color: transparent;
}
.taskTextRight
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    justify-content: space-between;
    font-weight: 400;
    color: var(--text-color);
}
.taskTextRight span
{
    margin: 4px;
}
.category
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid var(--primary);
}
.addedAt
{
    border-bottom: 2px solid var(--secondary);
    color: var(--text-color);
    padding-bottom: 0.5rem;
}
.categoryTitle
{
    font-weight: 600;
}
.taskStatus.pendingText
{
    color: var(--pending);
    font-weight: 700;
}
.taskStatus.completedText
{
    color: var(--success);
    font-weight: 700;
}
.taskTextLeft
{
    margin: 1rem;  
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
   font-size: large;
   font-weight: 700;
}
.titleTitle,.descriptionTitle
{
    color: var(--primary);
    margin-bottom: 8px;
    font-size: x-large;
}
.categoryTitle
{
    color: var(--primary);
}

@media screen and (max-width: 550px)
{
    .taskTextLeft
    {
        font-size: x-small;
        margin: 0.5rem;
    }
    .taskTextRight
    {
        font-size: small;
        margin: 0.5rem;
    }
    .titleTitle, .descriptionTitle
    {
        font-size: small;
    }
}
