.taskActionsContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    color: whitesmoke;
}
.actionContainer{
    margin: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}
.editAction:hover
{
    color: blue;
}
.deleteAction:hover
{
    color: red;
}
.markAction:hover
{
    color: rgb(0, 203, 0);
}

.pending
{
    background-color: #5f96b1;
}

.completed
{
    background-color: #0f969c;
}

.taskActionsContainer.deleted
{
    background-color: rgb(255, 124, 124);
    position: fixed;
    left: -100%;
}

@media screen and (max-width: 650px)
{
    .actionContainer
    {
        margin: 0.75rem;
    }
}
@media screen and (max-width: 450px)
{
    .actionContainer
    {
        margin: 0.5rem;
        font-size: xx-small;
        font-weight: 600;
    }
    .taskActionsContainer
    {
        padding: 0 0.5rem;
    }
}