.tabsContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
}
.tab
{
    margin: 5px 2rem;
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    text-align: center;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.3s all ease;
    font-weight: 700;
}
.pendingIcon
{
    color: hotpink;
}
.completedIcon
{
    color: lightgreen;
}
.pendingTab
{
    color: hotpink;
}
.completedTab
{
    color: lightgreen;
}
.active.pendingTab
{
    border-bottom: 4px solid #da00da;
    background-color: #da00da7f;
}
.pendingTab:hover
{
    background-color: #da00da7f;
}
.completedTab:hover
{
    background-color: rgba(0, 128, 0, 0.425);
}
.active.completedTab
{
    border-bottom: 4px solid #00ba00;
    background-color: rgba(0, 128, 0, 0.426);

}

@media screen and (max-width: 420px)
{
    .tab
    {
        margin: 5px 1rem;
        padding: 0.5rem;
        font-weight: 800;
        font-size: small;
        line-height: 1rem;
    }
}