
.task
{
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid var(--primary);
    width: 60vw;
    transition: 0.4s all ease;
    margin: 2rem;
}
.task:hover
{
    box-shadow: 0px 3px 3px var(--text-color);
}
@media screen and (max-width: 750px)
{
    .task
    {
        margin: 0.5rem 0;
        width: 90vw;
    }
}
