.tabsContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
}
.tab
{
    margin: 5px 2rem;
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    text-align: center;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.3s all ease;
    font-weight: 700;
}
.pendingIcon
{
    color: var(--primary);
}
.completedIcon
{
    color: var(--primary);
}
.pendingTab
{
    color: var(--primary);
}
.completedTab
{
    color: var(--primary);
}
.pendingTab:hover, .pendingIcon
{
    background-color: var(--primary);
    color: var(--secondary);
}
.completedTab:hover, .completedIcon
{
    background-color: var(--primary);
    color: var(--secondary);
}
.active.completedTab
{
    border-bottom: 4px solid var(--secondary);
    background-color: var(--primary);
    color: var(--secondary);
}
.active.pendingTab
{
    border-bottom: 4px solid var(--secondary);
    background-color: var(--primary);
    color: var(--secondary);
}

@media screen and (max-width: 420px)
{
    .tab
    {
        margin: 5px 1rem;
        padding: 0.5rem;
        font-weight: 800;
        font-size: small;
        line-height: 1rem;
    }
}